/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(145deg, #1e3c72, #2a5298);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.main-container {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    animation: fadeIn 2s ease;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header .title-container h1 {
    font-size: 2.5em;
    color: #ffffff;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

header .logo img {
    width: 120px;
    height: auto;
}

/* Section - Cards */
.content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffdf91;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #ffffff;
    color: #333333;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
    background: #ffdf91;
    color: #ffffff;
}

.card a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
}

/* Footer */
footer {
    margin-top: 30px;
    color: #ffdf91;
    font-size: 0.9em;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
/* Botón Regresar */
.btn-return {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background: #ff5733;
    border-radius: 25px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-return:hover {
    background: #c70039;
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
